@page
@model BlogCrud.Pages.Blog.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blg</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blg.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blg.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blg.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blg.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blg.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blg.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Blg?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
